html{
	background-color : #f2f3f4;
	line-height : 1.5;
	font-family: Helvetica;
}
h1{
	width : 50%;
	text-align : center;
	margin : auto;
	font-size : 28px;
	font-family: Helvetica;
}
form{
	width : 50%;
	margin-left : auto;
	margin-right: auto;
}
section{
	background-color : white;
	padding : 30px;
	border-radius : 10px;
	box-shadow : 1px 1px 3px black;
	
}
h2{
	border-radius : 5px;
	margin-top : -10px;
	margin-bottom : 10px;
	text-align : center;
}

.label-text{
	font-size : 20px;
	display : block;
	padding : 10px;
}
	
input{
	font-size : 15px;
	width : 100%;
	height : 30px;
	border : #F1948A 1px solid;
	border-radius : 4px;
	text-align : 5%;
	padding-left: 2px;
}
textarea{
	border-radius : 4px;
	border : #F1948A 1px solid;
	height : 40%;
	width : 103%;
	margin-left : -12px;
	font-size : 15px;
}

select{
	width : 100%;
	border : 1px solid #F1948A;
	height : 35px;
	font-size : 15px;
}
option{
	
}
.sub{
	width : 50%;
	background-color : white;
	color : black;
	height : 40px;
	display : block;
	margin : auto;
	border : 1px solid black;
	font-size : 20px;
	border-radius : 5px;
}
.sub:hover{
	background-color : #F5B7B1;
	color : white;
}
input[type="file"] {
    all : initial;
}
